<% provide(:title, 'About') %>

<div class="jumbotron background-img">
  <div class="bright-text">
    <h1>About</h1>
    <p>Storage App is a file storage service.</p>
    <p>It allows users to store and share it.</p>
  </div>
</div>
