<tr>
  <td class="folder">
    <p><%= folder.name %></p>
    <p><%= folder.owner %></p>
  </td>
  <td><%= render( partial: 'folders/folders', locals: { folders: folder.folders }) if folder.folders %></td>
  <td><%= render( partial: 'records/records', locals: { records: folder.records }) if folder.records %></td>
</tr>