<% provide(:title, @user.name) %>
<div class="page-header">
  <h2><%= @user.name %></h2>
</div>
<%= render 'shared/flash_error' %>
<%= render 'shared/flash_notice' %>
<%= render(partial:'folders/folder', locals:{folder: @user.root}) %>