<br />
<%= render 'folders/new_item' %>
<br />
<br />
<table class="table table-striped table-rounded" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>Type</th>
    <th>Size</th>
    <th>Owner</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <%= render records %>
  </tbody>
</table>

