@import "bootstrap-sprockets";
@import "bootstrap";


/*logo title*/

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* form errors handle*/

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/*upload button styles*/


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}