@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$frame-opacity: 0.5;

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; /* future proofing */
  -khtml-border-radius: $radius; /* for old Konqueror browsers */
  -ms-border-radius: $radius;
}

@mixin bold-text {
  font-weight: bold;
}

/*logo title*/
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* form errors handle*/

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.bright-text {
  color: rgb(255, 255, 255); /* Цвет текста */
  font-weight: 800;
}


.btn-grd {
  @include border-radius(5px);
  &:hover{
    @include bold-text;
    -webkit-filter: saturate(60%) brightness(110%);
    background: linear-gradient(to right, #3941fe, #f11a21);
  }
}


/*upload button styles*/


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
}
footer a {
  color: $gray;
}
footer a:hover {
  color: $gray-darker;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
}

.background-img {
  background-size: 100%;
  background-image: image_url('static_pages/data_center2.jpg');
  -webkit-filter: contrast(130%);
}

.bright-text {
  color: rgb(255, 255, 255); /* Цвет текста */
  font-weight: 800;
}


.btn-grd {
  @include border-radius(5px);
  &:hover{
    @include bold-text;
    -webkit-filter: saturate(60%) brightness(110%);
    background: linear-gradient(to right, #3941fe, #f11a21);
  }
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  line-height: 0.7;
}

/* folder */

//@mixin file-like {
//  background-repeat: no-repeat;
//  background-size: contain;
//  min-width: 30px;
//  max-width: 100px;
//  color: rgb(0, 0, 0); /* Цвет текста */
//  font-weight: 800;
//  align-items: center;
//  p {
//    margin-bottom: 30px;
//  }
//}

.folder-image {
  &:hover {
    -webkit-filter: brightness(110%);
  }
}

.folder{
  float: left;
}

.record {
  float:none
}

td{
  //float: left;
}

td .record{
  //float: none;
}

// vk classes
#page_body {
  font-size: 13px;
  width: 631px;
  margin-top: 42px;
}


.page_name, h2.page_name {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: -1px 0;
  //overflow: hidden;
  text-overflow: ellipsis;
}

.page_block {
  position: relative;
  //background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
}


.profile_info {
  line-height: 150%;
}

.profile_info_row {
  padding-top: 5px;
}

.profile_info_short {
  padding-top: 10px;
}
.profile_info {
  line-height: 150%;
}

.profile_info_full {
  padding-top: 24px;
}

.profile_info .label {
  width: 165px;
  color: #828282;
}

.profile_info .labeled {
  overflow: hidden;
}

.page_info_wrap {
  padding: 15px 20px 20px;
}

.fl_l {
  float: left;
}

.wide_column_right .wide_column {
  float: right;
}
.wide_column {
  position: relative;
  width: 100%;
}

.wide_column_right .narrow_column_wrap {
  float: left;
}
.narrow_column_wrap {
  position: relative;
  width: 230px;
}

.blue-background{
  background: #9e97ff;
}

.table-align{
  padding-top: 100px;
}
