<footer class="footer">
  <nav>
    <ul class="list-group">
      <li class="btn btn-default btn-grd"><%= link_to 'About', about_path %></li>
      <li class="btn btn-default btn-grd"><%= link_to 'Contact', contact_path %> </li>
      <li class="btn btn-default btn-grd"><%= link_to 'Help', help_path %></li>
    </ul>
  </nav>
</footer>